@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif; 
    margin-bottom: 70px;

}
ul{
    padding: 0px;
    list-style: none;
}

header{
    border-bottom:  10px solid #4B85FF;
    margin-bottom: 20px;
}

ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}
ol li{
    text-align: center;
}
.inicio-sesion{
    background-color:#4B85FF ;
    color: white;
    border-radius: 45px 0px 0px 45px;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
}
.inicio-sesion:hover{
    background-color:#FFAF00;
    color: white;
    border-radius: 45px 0px 0px 45px;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
}
.origen{
    margin-top: -2px;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-right: 10%; 
    background-color: white;
    text-align: left;
}
.origenmov{
    margin-right: 10px;
    margin-left: 10px;
}

.fecha{
    margin-top: -2px;
    width: 40%;
    height: 50px;
    margin-left: 10%;
    background-color: white;
    text-align: left;
}

.fecha2{
    margin-left: -4px;
    margin-top: -2px;
    width: 40%;
    height: 50px;
    background-color: white;
    text-align: left;
}
.pasajeros{
    margin-top: 15px;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-right: 10%; 
    background-color: white;
    text-align: left;
}

.busqueda{
    margin-top: 15px;
    width: 40%;
    height: 40px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: white;
    border-radius: 45px;
}

.ofertas{
    width: 80%;
    margin: 0 auto;
    color: white;
    background-color: #FFAF00;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
}



.titulos-ofertas{
    font-weight: 500;
    color: #FFAF00;
    font-size: 15px;
}
.card-body{
    background-color: #4B85FF;
}
.card-text{
    color: white;
    font-weight: 400;
    font-size: 13px;
}

.footer{
    height: 60px;
}
.flecha{
    padding: 0px 10px;
    color:#FFAF00 ;
}
.titulos-ingreso{
    color:#4B85FF ;
}
.input-inicio{
    margin-bottom: 18px;
    width: 100%;
    border-radius: 45px;
    background-color: white;
    padding: 10px 20px 10px 20px;
}
.boton-entrar{
    font-weight: bolder;
    background-color:#FFAF00 ;
    width: 100%;
    border-radius: 45px;
    padding: 10px 20px 10px 20px;
    color: white;
}

.boton-google{
    background-color:#4B85FF;
    width: 100%;
    border-radius: 45px;
    padding: 10px 20px 10px 20px;
    color: white;
    margin-bottom: 20px;
}
.boton-mail{
    background-color:white;
    width: 100%;
    border-radius: 45px;
    padding: 10px 20px 10px 20px;
    color: #747474;
    margin-bottom: 18px;
}
.boton-registrarse{
    background-color:#747474;
    width: 100%;
    border-radius: 45px;
    padding: 10px 20px 10px 20px;
    color: white;
    margin-bottom: 20px;
    font-weight: bolder;
}
.fa-google-plus-g{
    margin-right: 10px;
}
.fa-facebook-f{
    margin-right: 10px;
}
.fa-envelope{
    margin-right: 15px;
}
.primer-dia{
    grid-column-start: 5;
}
.day-name{
    font-weight: bolder;
    text-align: center;
}

.calendario{
    text-align: center;
    width: 95%;
}
.titulo-fecha{
    background:#FFAF00;
    color: white;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 45px 45px 0px 0px;
}

.titulos-fechas{
    color:#4B85FF ;
    font-size: 20px;
}
.titulos-fechas2{
    font-weight: bolder;
    color:#4B85FF ;
    font-size: 25px;
}
.seleccion-fecha{
    background: #4B85FF;
    color: white;
    height: 50px;
    font-size: 12px;
}
.fecha-line{
    border: black 1px solid;
}
.p-fechas{
    margin: 0px;
    margin-top: 5px;
    font-weight: bolder;
}
.fecha-seleccionada-ini{
    background-color: #FFAF00;
}
.fecha-seleccionada{
    background-color:#4B85FF ;
}
.blue{
    background-color:#4B85FF ;
    height: 60px;
}
.btn-aceptar{
    font-weight: bolder;
    color: white;
    background-color:#FFAF00 ;
    padding: 5px 20px;
    border-radius: 45px;
}
.parrafos{
    color: white;
    font-weight: bolder;
}
.dias-noches{
    margin-bottom: 60px;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.font-sugerencias{
    font-size: 14px;
    line-height: 30px;
}
.fa-plane{
    font-size: 13px;
    color:#4B85FF ;
    margin-right: 5px;
}


input{
    width: 40%;
    border: none;
    outline: none;
    padding: 5px;
}
input:hover,
input:focus{
    background-color: rgb(108, 105, 104);
    color: white;
}

.texto-preferencias2{
    margin: 0px;
}
.texto-preferencias{
    font-size: 9px;
    padding-left: 8px;
    margin: 0px;
}
.background-prefe{
    border-radius: 45px;
    border-width: 2px;
    border-style: solid;
    border-color: #666666;
}

.fa-chevron-left{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.fa-chevron-right{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.boton-flecha{
    width: 50%;
    border: none;
    border-radius: 10px 0px 0px 10px;
}
.boton-flecha2{
    width: 50%;
    border: none;
    border-radius: 0px 45px 45px 0px;
}
.caja{
    height: 45px;
    border-radius: 45px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.economica{
    height: 45px;
    color: white;
    font-weight: bolder;
    background-color: #4B85FF ;
    border-radius: 45px 0px 0px 45px;
    border-width: 2px;
    border-style: solid;
    border-color: #666666;
}
.economica p{
    text-align: center;
    padding-top: 10px;
}
.media p{
    text-align: center;
    padding-top: 10px;
    }
.alta p{
    text-align: center;
    padding-top: 10px;
    }
.economica:hover{
    background-color: #FFAF00 ;
    border-radius: 45px 0px 0px 45px;
    
}
.media{
    height: 45px;
    color: white;
    font-weight: bolder;
    background-color: #4B85FF ;
    border-radius: 0px 0px 0px 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #666666;
}
.media:hover{
    background-color: #FFAF00 ;
    border-radius: 0px 0px 0px 0px;
}
.alta{
    height: 45px;
    color: white;
    font-weight: bolder;
    background-color: #4B85FF ;
    border-radius: 0px 45px 45px 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #666666;
}
.alta:hover{
    background-color: #FFAF00 ;
    border-radius: 0px 45px 45px 0px;
}
a{
    text-decoration: none;
}
.prefe-aceptar{
    display: flex;

}
.steped{
    height: 65px;
    background-color: #4B85FF;
    border-radius: 20px;
    padding: 10px 5px 10px;
}
.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    margin-bottom: 6px;
    color: #4B85FF;
    font-weight: bolder;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #FFAF00;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #FFAF00;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }

.cabecera-vuelo{
    background-color: #4B85FF;
    height: 25px;
    border:1px solid black;
    color: white;
    font-weight: bolder;
}

.centro-vuelo{
    height: 50px;
    border:1px solid black;
    color: #818181;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.ida-texto{
    margin: 0px;
    font-weight: normal;
}
.ida-texto-numero{
    margin: 0px;
    font-size: 25px;
}
.radio{
    width: 40px;
    height: 20px;
}
.radio2{
    margin-left: 15px;
    width: 39px;
    height: 17px;
}
.precio{
    font-weight: bolder;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 0px;
    left: 12.26px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.hotel-1{
    width: 100%;
    height: 100px;
    background-image: url(../img/hotel-1.png) ;
    background-size: cover;
}
.background-hospedaje{
    height: 100px;
    background-color: #4B85FF;
    color: white;
    font-size: 13px;
}
.line-white{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid white;
}
.texto-hotel{
    margin-bottom: 5px;
}
.texto-hotel2{
    margin-bottom: 5px;
    font-weight: bolder;
    color: #ffa500;
}
.hotel-list{
    margin-top: 5px;
    font-size: 11px;
    line-height: 18px;
}
.hotel-2{
    width: 100%;
    height: 100px;
    background-image: url(../img/hotel-2.png) ;
    background-size: cover;
}

.confirmacion{
    border: 1.5px solid black;
    width: 100%;
    height: 50px;
}

.metodo-pago{
    color: #747474;
    border: 1.5px solid #747474;
    border-radius: 15px;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
}
.metodo-pago:hover{
    color: white;
    background-color:#ffa500 ;
    border: 1.5px solid black;
    border-radius: 15px;
    height: 65px;
    width: 100%;
}

.texto-pagos{
    margin-top: 10px;
    margin-left: 20px;
}

.transferencia-tiempo{
    border: 1.5px solid black;
    width: 50%;
    height: 70px;
    background-color:#ffa500;
    border-radius: 15px;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.transferencia-tiempo p{
    margin: 0px;
    padding: 0px;
}

.transferencia-list{
    color: #666666;
    line-height: 40px;
}
.texto-transferencia{
    color: #4B85FF;
}
.finalizando-background{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 60px;
    border-top: 3px solid #4B85FF;
    border-bottom: 3px solid #4B85FF;
    background-color: #ffa500;
}

.felicitaciones{
    font-size: 30px;
}
.felicitaciones-text{
    color: #4B85FF;
    font-size: 18px;
}
.tiempo-restante{
    margin: 0px;
    padding: 0px;
}
footer{
    height: 60px;
    width: 100%;
    border-top: 3px solid #4B85FF;
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
}


